<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./main.css">
    <title>Expres App</title>
  </head>
  <body>
    <div id="app">
      <header>
        <h1>Bienvenido a Mi Proyecto</h1>
      </header>
      <main>
        <p>¡Gracias por visitar nuestro sitio!</p>
        <p>
          Esperamos que disfrutes explorando y aprendiendo más sobre lo que
          tenemos para ofrecerte.
        </p>
      </main>
      <footer>
        <p>&copy; 2023 Mi Proyecto. Todos los derechos reservados.</p>
      </footer>
    </div>
  </body>
</html>
